*
div{
display: inline-block;

}
*
{
        margin: 0;
        padding: 0;
}

header{

        background-image: url(1078199.jpg);
        background-size: cover;
        height: 100vh;
        background-position: center;
}

.main-nav
{ 
        float: right;
        list-style: none;
        margin-top: 30px;
        float: right;
}

.main-nav li
{
       display: inline-block;
}

.main-nav li a
{
        color: white;
        text-decoration: none;
        padding: 5px 20px;
        font-family:"Roboto", sans-serif;
        font-size: 15px;
}
.logo image
{
        width: 150px;
        height: auto;



}

body
{
        font-family: monospace;       
}

.row
{
        max-width: 1200px;
        margin: aut;

}
.main-nav .active a
{
border: solid white 1px;


}
.hero
{
        position: absolute;
        width: 1200px;
        margin-left: 0px;
        margin-top: 0px;
}
h1
{
        color: white;
        text-transform: uppercase;
        font-size: 70px;
        text-align: center;
        margin-top: 275px;



}
        


